vim/vim.symlink/.netrwhist

# Irssi repo
away.log
fnotify
nickserv.auth
saved_colors
        
# Emacs
**elpa**
**backups**
**eshell**
**url**
**auto-save-list**
**cask**
.smex-items
ac-comphist.dat
places
tramp
/emacs/emacs.d.symlink/.org-id-locations
/emacs/emacs.d.symlink/bookmarks
emacs/emacs.d.symlink/projectile-bookmarks.eld
