[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "emacs/emacs.d.symlink/snippets/latex-mode"]
	path = emacs/emacs.d.symlink/snippets/latex-mode
	url = https://github.com/madsdk/yasnippets-latex.git
[submodule "emacs/emacs.d.symlink/snippets/java-mode"]
	path = emacs/emacs.d.symlink/snippets/java-mode
	url = https://github.com/nekop/yasnippet-java-mode.git
