vim/vim.symlink/.netrwhist

# Irssi repo
away.log
fnotify
nickserv.auth
saved_colors
        
# Emacs
**elpa**
**backups**
**eshell**
**url**
**auto-save-list**
**.cask**
.smex-items
ac-comphist.dat
places
tramp
.org-id-locations
bookmarks
projectile-bookmarks.eld
/emacs.d/projectile.cache
/emacs.d/recentf
/vim/autoload/
