vim/vim.symlink/.netrwhist

# Irssi repo
away.log
fnotify
nickserv.auth
saved_colors
        
# Emacs
.smex-items
smex-items
ac-comphist.dat
places
tramp
.org-id-locations
bookmarks
projectile-bookmarks.eld
/emacs.d/projectile.cache
/emacs.d/recentf
/vim/autoload/
/emacs.d/lisp/init-work.el
ido.last
/emacs.d/.persistent-scratch
/emacs.d/config.el
/emacs.d/straight
/emacs.d/var
/emacs.d/chrsims.el
/emacs.d/jcsims.el
/emacs.d/elpa/*
/emacs.d/eshell
/emacs.d/url
